<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hitasoft.app.howzu">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        tools:node="replace" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:name=".HowzuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name=".NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".SetDialogsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".SetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SendOTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".MainViewProfileDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme" />
        <activity
            android:name=".Filter"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme" />
        <activity
            android:name=".EditPhoto"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme" />
        <activity
            android:name=".DownloadImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme" />
        <activity
            android:name=".LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".PremiumDialog"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".TOS"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme" />
        <activity
            android:name=".ViewImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme" />
        <activity
            android:name=".EmailLogin"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">


        </activity>

        <activity
            android:name=".MainNewLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider718268961615879"
            android:exported="true" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="@string/baidu_api_key_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_appId" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.hitasoft.app.howzu.braintree" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.hitasoft.app.helper.OnlineManager"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.hitasoft.app.helper.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.hitasoft.app.helper.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.hitasoft.app.helper.NetworkReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.hitasoft.app.helper.PhoneStateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver> <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:replace="android:theme" />
        <activity
            android:name=".CallActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="adjustNothing" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hitasoft.app.howzu.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCusTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>